@using MyTool.Enums
@using WabMaker.Web.Helpers
@using WebMaker.Entity.ViewModels
@using MyTool.ViewModels
@using WabMaker.Web.WebViewModels
@using MyTool.Services
@model WabMaker.Web.WebViewModels.ItemListModel
@{
    ViewBag.Title = Model.ItemViewModel.ItemLanguage.Subject;
    Layout = "../Shared/_Layout.cshtml";
    //每頁顯示筆數
    Model.ItemPageModel.PageSize = 10;
    var mainImage = Model.ItemViewModel.ItemFiles.Count == 0 ? new WabMaker.Web.WebViewModels.ItemWebFile() :
                                                    Model.ItemViewModel.ItemFiles.FirstOrDefault(x => x.SourceType == (int)SourceType.ItemConver);
}

@section MainSlider{
    <div class="hero-gallery js-flickity">
        <div class="hero-gallery__cell" style="background-image: url(@RouteHelper.SetImagePath(mainImage.FilePath, mainImage.ThumbnailPath))" data-tb-src="@RouteHelper.SetImagePath(mainImage.FilePath, mainImage.ThumbnailPath)">
            <div class="content-wrap text">
            </div>
        </div>
    </div>
}

<div id="container" class="space_top">
    <div class="wrap_box">
        <!--======================================分類List=============================================-->
        <div class="title_border">
            <div class="title_box"><h1 class="titlt_inline">@ViewBag.Title<mark>News </mark></h1></div>
        </div>
        <div class="block_t20">
            <div class="com article_3 wow fadeInUp" style="margin-bottom: 0px;padding-top: 0px;">

                @Html.Action("Partial", new { model = Model.ItemPageModel })
            </div>
        </div>

        <!--======================================延伸閱讀================================================-->
        @Html.Partial(WabMaker.Web.Controllers.BaseController.ViewName("Shared", "Get_Partial_Related"), Model.ItemViewModel)

        <!--================================================編輯精選=========================================================-->
        @Html.Action("Partial", "Item", new ItemPageModel
   {
       CacheName = "Article_7",
       ViewName = "Article_7",
       PageSize = 4,
       CurrentPage = 1,
       SelectTop = true,
       SortColumn = SortColumn.Random,
       StructureJson = _Json.ModelToJson(new List<Guid>
                     {
                     new Guid("2888b78f-ccf3-4920-8d71-c6f2e669ebe3") })
   })
    </div>
</div>
