@model List<WabMaker.Web.WebViewModels.TreeWebViewModel>

<!--===================================top_選單================================================-->
<header>
    <div class="header_container">
        <p><img src="~/html/Aiot/images/aiot_logo.png" class="logo"></p>
        <nav>
            @if (Model != null)
            {
                <ul class="clearfix">
                    @foreach (var item in Model)
                {
                    bool hasChild = item.Nodes != null && item.Nodes.Any();
                        <li class="">
                            <a class="" href="@item.Url"><i class="far fa-newspaper"></i>@item.Name</a>
                            @if (hasChild)
                            {
                                <div class="nav_sub">
                                    <div class="nav_sub--inner">
                                        <div class="nav_sub--img"><span style="background-image: url(../../../html/Aiot/images/01.jpg)"></span></div>
                                        <div class="nav_sub--contents article clearfix">
                                            <div class="nav_sub--contents--li">
                                                <ul>
                                                    @foreach (var subitem in item.Nodes)
                                                    {
                                                        <li><a href="@item.Url">@subitem.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                    <li class="nav_sp btn"><a href="login.html"><i class="fas fa-user-edit"></i>會員登入/註冊</a></li>
                    <li class="nav_sp btn" style="display: none;"><a href="sign_out.html"><i class="fas fa-running"></i>會員登出</a></li>

                    <li class="nav_sp btn">
                        <div id="div2" class="form_box  style=" display:none"">

                            <label for="header_search_query" class="sr-only">Search Icons:</label>
                            <div class="relative white">
                                <input id="header_search_query" type="search" name="header_search_query" placeholder="Search icons..." class="input-reset white-90 input-focus all-animate br-pill ph4 sans-serif fw6 header-search-input ba bw1  bg-black-10 b--transparent">
                                <button type="submit" name="header_search_submit" class="button-reset color-inherit db o-80 absolute center-v right-1 glow hover-orange8">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw">
                                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class="">
                                        </path>
                                    </svg><span class="sr-only">Search!</span>
                                </button>
                            </div>
                            <button type="submit" name="header_search_submit" class="sr-only">Search!</button>
                        </div>
                    </li>
                </ul>


            }
        </nav>

        <ul class="header_btn2">
            <li><a href="javascript" id="btnDivShow" name="btnDivShow" onclick="return btnDivShow_onclick()"><i class="fas fa-search"></i></a></li>
            <li><a href="login.html"><i class="fas fa-user-edit"></i></a></li>
            <li style="display: none;visibility: hidden;"><a href="sign_out.html"><i class="fas fa-user-edit"></i></a> </li>
        </ul>
        <div class="header_menu">
            <span></span>
        </div>
    </div>

    <div class="header_container--fixed">
        <div id="div2" class="form_box " style="display:none">
            <div class="link close"> <a href="javascript" id="btnDivH2 " name="btnDivH2" onclick="return btnDivH2_onclick()"><i class="far fa-times-circle"></i></a></div>
            <div class="search_box">

                <label for="header_search_query" class="sr-only">Search Icons:</label>
                <div class="relative white">
                    <input id="header_search_query" type="search" name="header_search_query" placeholder="Search icons..." class="input-reset black-90 input-focus all-animate br-pill ph4 sans-serif fw6 header-search-input ba bw1  bg-white-10 b--transparent">
                    <button type="submit" name="header_search_submit" class="button-reset color-inherit db o-80 absolute center-v right-1 glow hover-orange8">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw">
                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class="">
                            </path>
                        </svg><span class="sr-only">Search!</span>
                    </button>

                </div>
                <button type="submit" name="header_search_submit" class="sr-only">Search!</button>
            </div>
        </div>


        <p><img src="~/html/Aiot/images/aiot_logo.png" class="header_logo--sp"></p>
        <nav>
            @if (Model != null)
            {
                <ul class="clearfix">
                    @foreach (var item in Model)
                {
                    bool hasChild = item.Nodes != null && item.Nodes.Any();
                        <li class="">
                            <a class="" href="@item.Url"><i class="far fa-newspaper"></i>@item.Name</a>
                            @if (hasChild)
                            {
                                <div class="nav_sub">
                                    <div class="nav_sub--inner">
                                        <div class="nav_sub--img"><span style="background-image: url(images/01.jpg)"></span></div>
                                        <div class="nav_sub--contents article clearfix">
                                            <div class="nav_sub--contents--li">
                                                <ul>
                                                    @foreach (var subitem in item.Nodes)
                                                    {
                                                        <li><a href="@item.Url">@subitem.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                    <li class="nav_sp btn"><a href="login.html"><i class="fas fa-user-edit"></i>會員登入/註冊</a></li>
                    <li class="nav_sp btn" style="display: none;"><a href="sign_out.html"><i class="fas fa-running"></i>會員登出</a></li>

                    <li class="nav_sp btn">
                        <div id="div2" class="form_box  style=" display:none"">

                            <label for="header_search_query" class="sr-only">Search Icons:</label>
                            <div class="relative white">
                                <input id="header_search_query" type="search" name="header_search_query" placeholder="Search icons..." class="input-reset white-90 input-focus all-animate br-pill ph4 sans-serif fw6 header-search-input ba bw1  bg-black-10 b--transparent">
                                <button type="submit" name="header_search_submit" class="button-reset color-inherit db o-80 absolute center-v right-1 glow hover-orange8">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw">
                                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class="">
                                        </path>
                                    </svg><span class="sr-only">Search!</span>
                                </button>
                            </div>
                            <button type="submit" name="header_search_submit" class="sr-only">Search!</button>
                        </div>
                    </li>
                </ul>
            }
        </nav>
        <ul class="header_btn2">
            <li><a href="javascript" id="btnDivShow2" name="btnDivShow2" onclick="return btnDivShow2_onclick()"><i class="fas fa-search"></i></a></li>
            <li><a href="login.html"><i class="fas fa-user-edit"></i></a></li>
            <li style="display: none;visibility: hidden;"><a href="sign_out.html"><i class="fas fa-user-edit"></i></a> </li>
        </ul>

        <div class="header_menu"><span></span></div>
    </div>
</header>
<!--===================================top_選單================================================-->