@using MyTool.Services
@using MyTool.Enums
@using WabMaker.Web.Helpers
@using System.Dynamic
@model  WebMaker.Entity.ViewModels.OrderViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "結帳";

    var structure = Model.Order.cms_Structure;
}
@using (Html.BeginForm())
{
    <input type="hidden" id="returnUrl" value="@Url.Action("Confirm")" />
    <input type="hidden" id="successMessage" data-title="@ViewBag.Title" value="@MyTool.Enums.MessageType.Confirm" />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <h3>@ViewBag.Title</h3>
   
    <!----配送方式---->
    <h4>
        <span class="label label-primary">配送方式</span>
    </h4>
    foreach (var item in structure.DeliveryTypes.ToContainList<DeliveryType>())
    {
        <div class="radio">
            <label>
                <input type="radio" name="Order.DeliveryType" value="@((int)item)" @(Model.Order.DeliveryType == (int)item ? "checked" : "")
                       data-val="true" data-val-required="請選擇配送方式"> @item.GetDisplayName()
                </label>
            </div>
    }
    @Html.ValidationMessageFor(model => model.Order.DeliveryType, "", new { @class = "text-danger" })

    <!----付款方式---->
    <h4>
        <span class="label label-primary">付款方式</span>
    </h4>
    foreach (var item in structure.PayTypes.ToContainList<PayType>())
    {
        <div class="radio">
            <label>
                <input type="radio" name="Order.PayType" value="@((int)item)" @(Model.Order.PayType == (int)item ? "checked" : "")
                       data-val="true" data-val-required="請選擇付款方式"> @item.GetDisplayName()
                </label>
            </div>
    }
    @Html.ValidationMessageFor(model => model.Order.PayType, "", new { @class = "text-danger" })

    <hr>
    <!----寄送資訊---->
    <h4>
        <span class="label label-primary">寄送資訊</span>   
    </h4>
    <div class="checkbox">
        <label>
            <input id="UpdateUser" name="UpdateUser" type="checkbox" value="true">
            同步更新到會員資料
        </label>
    </div>
    <div class="form-group">
        <label>姓名</label>
        <div>
            <input type="text" id="Order_ReceiverName" name="Order.ReceiverName" class="" value="@Model.User.Name"
                   data-val="true" data-val-length="不得大於50個字元" data-val-length-max="50" data-val-required="請輸入姓名">
            @Html.ValidationMessageFor(model => model.Order.ReceiverName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>電話</label>
        <div>
            <input type="text" id="Order_ReceiverPhone" name="Order.ReceiverPhone" class="" value="@Model.User.Phone"
                   data-val="true" data-val-required="請輸入電話">
            @Html.ValidationMessageFor(model => model.Order.ReceiverPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>地址</label>
        <div id="AddressOption">
            <select id="CityID" name="Order.ReceiverAddress_CityID" class="dynamicAddress"
                    data-val="true" data-val-required="請選擇縣市"
                    data-default="請選擇" data-level="1" data-value="@Model.User.Address_CityID"></select> 

            <select id="RegionID" name="Order.ReceiverAddress_RegionID" class="dynamicAddress"
                      data-val="true" data-val-required="請選擇鄉鎮市區"
                     data-default="請選擇" data-level="2" data-value="@Model.User.Address_RegionID"></select> 

            <input id="ZIP" name="Order.ReceiverAddress_ZIP" type="text" style="width:50px" />

            @Html.ValidationMessageFor(model => model.Order.ReceiverAddress_CityID, "", new { @class = "text-danger" }) 
            @Html.ValidationMessageFor(model => model.Order.ReceiverAddress_RegionID, "", new { @class = "text-danger" }) 


            <input type="text" id="Order_ReceiverAddres" name="Order.ReceiverAddress" class="" value="@Model.User.Address"
                   data-val="true" data-val-length="不得大於500個字元" data-val-length-max="500" data-val-required="請輸入地址">
            @Html.ValidationMessageFor(model => model.Order.ReceiverAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <div>
            <input type="text" id="Order_ReceiverEmail" name="Order.ReceiverEmail"  class="" value="@Model.User.Email"
                   data-val="true"  data-val-length="欄位長度不得大於 200 個字元" data-val-length-max="200" >
            @Html.ValidationMessageFor(model => model.Order.ReceiverEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>備註</label>
        <div>
            @Html.EditorFor(model => model.Order.OrderNote, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Order.OrderNote, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr>
    <!----發票---->
    <h4>
        <span class="label label-primary">發票</span>
    </h4>
    <div class="radio">
        <label>
            <input type="radio" name="Order.InvoiceType" value="@((int)InvoiceType.Two)" checked>
            @InvoiceType.Two.GetDisplayName()
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Order.InvoiceType" value="@((int)InvoiceType.Three)">
            @InvoiceType.Three.GetDisplayName()
        </label>
    </div>

    <div class="form-group">
        <label>發票抬頭</label>
        <div>
            @Html.EditorFor(model => model.Order.InvoiceTitle, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessage("Order_InvoiceTitle", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>統一編號</label>
        <div>
            @Html.EditorFor(model => model.Order.InvoiceNumber, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessage("Order_InvoiceNumber", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="text-right">
        <a href="@Url.Action("ShoppingCart")" class="btn btn-default">上一頁</a>
        <button id="SaveBtn" type="button" class="btn btn-warning">下訂單</button>
    </div>
}

@section scripts{
    <script>
        var SubItemSelectJson = jQuery.parseJSON('@Html.Raw(Model.AddressSelectJson)');
        web.dynamicSelect.init($("#AddressOption"), ".dynamicAddress", SubItemSelectJson);
        web.addressEvent();
    </script>
}