@using WabMaker.Web.Helpers
@using WebMaker.Entity.ViewModels
@using MyTool.Enums
@using MyTool.Services
@using MyTool.ViewModels

@model WebMaker.Entity.ViewModels.OrderViewModel
@{
    ViewBag.Title = Model.ItemViewModel.ItemLanguage.Subject;
    Layout = "../Shared/_Layout.cshtml";
    var structure = Model.ItemViewModel.Item.cms_Structure;
    var mainImage = Model.ItemViewModel.ItemFiles?.FirstOrDefault(x => x.SourceType == (int)SourceType.ItemConver);

    var imgUrl = mainImage == null ? "" :
        (mainImage.FileType == (int)FileType.YouTube) ?
        _YouTube.SetThumbnail(mainImage.FilePath) ://YouTube縮圖
        mainImage.FilePath;//封面

    var description = _Html.WordSubstring(_Html.RemoveHtml(Model.ItemViewModel.ItemLanguage.Content), 200);
    //檔案下載
    var filedownloads = Model.ItemViewModel.ItemFiles.Where(x => x.SourceType == (int)SourceType.ItemFile && x.StructureID == new Guid("c3a94bc2-a6be-4f0f-8a99-489abdc153f0")).ToList();

}

@section meta
{
    <meta property="og:title" content="@Model.ItemViewModel.ItemLanguage.Subject" />
    <meta property="og:url" content="@RouteHelper.Url(true)" />
    <meta property="og:image" content="@imgUrl" />
    <meta property="og:description" content="@description" />
}

<!-- ****** Blog Area Start ****** -->
<section class="blog_area section_padding_0_80 mt-4 single_blog_area">
    <div class="container">
        <div class="row">
            <!--左邊1-->
            <div class="col-12 col-lg-8">
                <article class="post-layout post">
                    <div class="post-header">
                        <div class="post-information">
                            <h1>Step1.選擇票券&amp;填寫資料</h1>
                        </div>
                        <!-- post-information END -->
                    </div>
                    <!-- post-header END -->
                </article>
                <div class="row no-gutters">
                    <div class="col">
                        <img src="@imgUrl" alt="" ">
                    </div>
                </div>
            </div>
            <!--右邊1-->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="blog-sidebar mt-5 mt-lg-0">
                    <div class="block-wrap border">
                        <div class="block-title">@Model.ItemViewModel.ItemLanguage.Subject</div>
                        <div class="block-body">
                            <h6><i class="fa fa-calendar"></i> 活動時間:</h6>
                            <p>@Model.ItemViewModel.Item.SaleStartTime.ToDateString("yyyy/MM/dd") 至 @Model.ItemViewModel.Item.SaleEndTime.ToDateString("yyyy/MM/dd")</p>
                            <h6><i class="fa fa-map-marker"></i> 活動地點:</h6>
                            <p>@Model.ItemViewModel.ItemLanguage.Address</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--左邊2-->
            @using (Html.BeginForm("SignUp", "Order", new { id = "" }, FormMethod.Post))
            {
                <input type="hidden" id="returnUrl" value="@Url.Action("Order", "Member", new { type = structure.ID })" />
                <input type="hidden" id="successMessage" data-title="@ViewBag.Title" value="@MyTool.Enums.MessageType.Confirm" />

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-12 col-lg-8">
                    <div class="member-course-info">
                        <div class="notice">
                            <h4>注意事項</h4>
                            <p>付費活動升級，依主辦人之身分認證資訊開立發票。什麼是「身分認證」免費活動升級，請將發票抬頭、寄發地址、統編來信至客服小幫手辦理，或洽您的業務窗口。</p>
                        </div>
                        <!-- meta-info END -->
                    </div>
                    <div class="col-xs-12">
                        <div class="singup-inner mb-50 p-lg-rl-50">
                            <h3 class="text-orange">更新個人資料</h3>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-2 form-label text-right">EMAIL</label>
                                <div class="col-sm-9">
                                    @Model.User.Email
                                </div>
                            </div>
                            @Html.Partial(WabMaker.Web.Controllers.BaseController.ViewName("Member", "_Profile"), Model)

                        </div>
                        <div class="singup-inner mb-50 p-lg-rl-50">
                            <h3 class="text-orange">報名活動</h3>
                            <hr>

                            @Html.HiddenFor(model => model.Order.ItemID)
                            @Html.Hidden("Order.PayType", (int)PayType.ATM)
                            @Html.Hidden("Order.DeliveryType", (int)DeliveryType.None)
                            @Html.Hidden("Order.ShippingFee", 0)

                            <div class="form-group row">
                                <label class="col-sm-2 form-label text-right">費用</label>
                                <div class="col-sm-9">
                                    $@Model.ItemViewModel.Item.SalePrice.ToString("0")
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-label text-right">匯款資訊(*)</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Order_PayInfo" name="Order.PayInfo" class="form-control" placeholder="戶名 / 銀行名稱 / 帳號末五碼"
                                           data-val="true" data-val-length="不得大於50個字元" data-val-length-max="50" data-val-required="請輸入匯款資訊">
                                    @Html.ValidationMessageFor(model => model.Order.PayInfo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-label text-right">備註</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Order.OrderNote, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.OrderNote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-offset-2 col-sm-2 form-label text-right">授權同意書</label>
                                <div class="col-sm-5">
                                    <div class="checkbox">
                                        <label>
                                            <input id="IsArgee" style="display:inline-block !important" name="IsArgee" type="checkbox" data-val="true" data-rule-required="true" data-msg-required="請勾選同意">
                                            我已詳細閱讀並同意<a class="text-oragne underline" href="@Url.Content("~/PrivacyPolicy")" target="_blank">授權同意書</a>
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="IsArgee" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-offset-2 col-sm-2 form-label text-right">檔案下載</label>
                                <div class="col-sm-5">
                                    @foreach (var file in filedownloads)
                                    {
                                        <a class="text-oragne underline" href="@file.FilePath" download="@file.OriName">@file.OriName</a><br>
                                    }
                                </div>
                            </div>

                        </div>
                        <!--票券詳細資訊-->
                        @*<table class="table table-bordered process-tab">
                            <tbody>
                                <tr>
                                    <th width="70%">票種</th>
                                    <th width="15%">售價</th>
                                    <th width="15%">數量</th>
                                </tr>
                                <tr class="has-error">
                                    <td>
                                        早鳥票
                                        <label class="control-label">（*錯誤訊息）</label>
                                    </td>
                                    <td class="text-right">
                                        <label class="control-label">NT $1</label>
                                    </td>
                                    <td class="text-center">
                                        <!--清單最大值為剛票券數量上限-->
                                        <input type="hidden" value="37" name="lessonid">
                                        <input type="hidden" value="1" name="price">
                                        <select class="form-control has-error" name="joinnum">
                                            <option value="0">0</option>
                                            <option value="1" selected="selected">1</option>
                                        </select>

                                    </td>
                                </tr>
                                <tr class="has-error">
                                    <td>
                                        一般票
                                        （剩餘名額: 8）
                                    </td>
                                    <td class="text-right">
                                        <label class="control-label">NT $1</label>
                                    </td>
                                    <td class="text-center">
                                        <!--清單最大值為剛票券數量上限-->
                                        <input type="hidden" value="37" name="lessonid">
                                        <input type="hidden" value="1" name="price">
                                        <select class="form-control" name="joinnum">
                                            <option value="0">0</option>
                                            <option value="1" selected="selected">1</option>
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td>合計</td>
                                    <td colspan="2" id="total1" class="text-right">1</td>
                                </tr>
                            </tbody>
                        </table>
                        <section>
                            <div class="page-header-blue">
                                <h3>聯絡人資訊</h3>
                            </div>
                            <div class="row">
                                <div class="col-12" id="POC">
                                    <div class="form-group">
                                        <label class="control-label title">* 姓名</label>
                                        @Html.TextBoxFor(model => model.Order.ReceiverName, new { name = "cname", id = "cname", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Order.ReceiverName, "", new { @class = "control-label" }, "label")
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label title">* e-mail</label>
                                        @Html.TextBoxFor(model => model.Order.ReceiverEmail, new { name = "cemail", id = "cemail", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Order.ReceiverEmail, "", new { @class = "control-label" }, "label")
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label title">* 聯絡電話</label>
                                        @Html.TextBoxFor(model => model.Order.ReceiverPhone, new { name = "cphone", id = "cphone", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Order.ReceiverPhone, "", new { @class = "control-label" }, "label")
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label title">* 公司名稱</label>
                                        <input class="form-control" id="unitname" name="unitname">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label title">職稱</label>
                                        <input class="form-control" id="postion" name="postion">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <table class="table table-bordered process-tab" id="payinfo">
                            <tbody>
                                <tr class="underline" id="paytype">
                                    <td>付款方式</td>
                                    <td>
                                        <!--此為禁用狀態範例-->
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymode" id="optionsRadios1" value="1">
                                                <span class="cr">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>
                                                信用卡付款
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymode" id="optionsRadios2" value="2">
                                                <span class="cr">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>
                                                ATM轉帳
                                            </label>
                                        </div>

                                        <div class="radio" style="display:none">
                                            <label>
                                                <input type="radio" name="paymode" id="optionsRadios3" value="5" checked="">
                                                <span class="cr">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>
                                                現場付款
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>統一發票</td>
                                    <td>
                                        <!--選擇發票-->
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="invoice" id="invoice2" value="2" checked="">
                                                <span class="cr">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>二聯式紙本發票
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="invoice" id="invoice3" value="3"> <span class="cr">
                                                    <i class="cr-icon fa fa-circle"></i>
                                                </span>三聯式紙本發票
                                            </label>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">抬頭</label>
                                                <input name="title" id="title" placeholder="輸入抬頭(三聯式發票填寫)" class="form-control">

                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">統一編號</label>
                                                <input name="companyno" id="companyno" placeholder="輸入統一編號(三聯式發票填寫)" class="form-control">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="total underline">
                                    <td>總計</td>
                                    <td class="text-right" id="total2">NT$1</td>
                                </tr>
                            </tbody>
                        </table>*@
                        <div class="divide10"></div>
                        <div class="text-center">
                            <a href="#" class="btn btn-gray margin-R-5">
                                <span>重填資訊</span>
                            </a>

                            <a href="" id="SaveBtn" class="btn style-7f7b6ac5-register-button">
                                <span>前往付款</span>
                            </a>
                        </div>
                        <div class="divide20"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ****** Blog Area End ****** -->